{%- capture tabs %}
  {%- capture content %}<h5><strong>PORSGRUND PORSELÆNSFABRIK</strong></h5>
<p>Porsgrund Porselen er en vanvittig sterk og tradisjonell merkevare for oss Nordmenn. De har laget porselensvarer av høy kvalitet i mer enn hundre år! Etablert så tidlig som i <u><strong>1885</strong></u>, har Porsgrund blitt en merkevare praktisk talt alle Nordmenn er kjent med. Verdenskjente malere som blant annet Theodor Kittelsen, Odd Nerdrum, og Ferdinand Finne har på lidenskapelig vis skapt unike design for dem gjennom deres lange historie.</p>
<p>Deres upåklagelige kvalitet og øye for detaljer er blant de mange grunnene til at de har blitt en så sterk merkevare siden begynnelsen.</p>

{% endcapture -%}
  27312^^Om Porsgrund Porselen^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Porsgrunds Porselænsfabrik^^^^^^0^^~~
  {%- capture content %}<h2>HADELAND GLASSVERK</h2>
<p>Hadeland Glassverk ble etablert i <strong>1762</strong>, og har opprettholdt deres kvalitet og stolte h&aring;ndverkstradisjoner i <em>mer enn 250 &aring;r</em>.</p>
<p>Tilsvarende Porsgrund, er Hadeland Glassverk en ikonisk merkevare for alt ting glass i Norge. Til og med i s&aring; stor grad at elever fra skoler i n&aelig;rheten vanligvis har klassetur dit for &aring; se hvordan de produserer sine popul&aelig;re glass. - Noe som taler for hvilken enorm kulturell posisjon Hadeland har hatt i Norge siden begynnelsen. Her finner du alle v&aring;re <a title="Hadeland Glassverk" href="https://hyttefeber.no/collections/hadeland-glassverk">produkter fra Hadeland Glassverk</a>.</p>
<h3>Norgesglass</h3>
<p>Hadeland Glassverk er i nyere tid kanskje mest kjent for deres Norgesglass-serie. Den fablede luft-tette krukken som dramatisk forbedret lagringstiden for hjemmelaget mat i Norske hjem etter lanseringen i 1906, som sett i en annonse fra en avis fra denne tiden. Det&nbsp;har senere blitt den gyldne standarden for n&aring;r man skal lage hjemmelaget syltet&oslash;y med b&aelig;ra fra hagen.</p>
<p>Glassene er ogs&aring; sv&aelig;rt popul&aelig;re for andre typer mat og oppbevaring p&aring; kj&oslash;kkenet, og gir et nostalgisk preg.</p>
<p>Her finner du hele samlingen med alt fra <a title="Norgesglass" href="https://hyttefeber.no/collections/norgesglasset-hele-den-originale-serien">Norgesglass</a>.</p>{% endcapture -%}
  27311^^Om Hadeland Glassverk^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Hadeland Glassverk^^^^^^0^^~~
  {%- capture content %}{% include 'cmcommerceproductreview' with 'Recent-0' %}{% endcapture -%}
  27390^^Vurderinger {% include 'cmcommerceproductreview' with 'Summary-widget-0' %}^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|150687481949|||^^^^2^^0^^~~
  {%- capture content %}<p><img style="max-width: 100%;" src="https://cdn.shopify.com/s/files/1/1855/1065/files/NVRLND_Size_Chart_65f7a81c-5561-41c1-a414-79d226dc93a5.jpg" /></p>{% endcapture -%}
  27346^^Størrelsesguide^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|159509250141|||^^^^3^^0^^~~
  {%- capture content %}<h2>Øyo</h2>
<p>Øyo er en norsk familiebedrift fra Geilo, startet så tidlig som i <strong>1882</strong> av selveste Knut Øyo. Etter trange tider med dårlig jord, dystert vær, og bestemte han seg for å starte en smie. Der har det blitt smidd alt fra ljåer til sigder og økser I flere mannsaldre.</p>
<p>I 1920-årene, allerede etter&nbsp;en generasjon med drift, bestemte de seg for å utvide familiebedriften til å bli en fabrikk. Smia ble bygget på flere ganger, og økseproduksjonen skulle vise seg å bli et av de viktigste verktøyene de produsere, helt frem til nyere tid. De produserte også kniver allerede da, noe de er mest kjent for i moderne tid.</p>
<p>Fra 1994&nbsp;var det hele fjerde generasjon familie som tok over driften, Knut Olav Øyo, der de jevnt og trutt har hold tritt med tiden. Og aller siste generasjon av familien Øyo kom på banen i 2014 - for første gang ledet av kvinnene Karianne og Kathrine Øyo.</p>
<p>Siden den tid har merkevaren bare blitt sterkere og sterkere, og de velkjente knivene har derfra ikke bare holdt tritt med velkjente merkevarer som "Global", men faktisk vist seg å være enda bedre i nøytrale tester!</p>
<p>Vi er dermed utrolig stolte av å kunne tilby noe av det stolteste og beste innen kniver og økser som er tilgjengelig på det norske markedet! Produktene bærer preg av norsk natur, og generasjoner med brutalt fokus på kvalitet og nytte. Det er kniver av ypperste rang, som i mange tilfeller også leveres med magnetslirer så de lett kan bæres med seg. Både på tur i skog og mark, og trygt plassert på kjøkkenet hjemme.</p>{% endcapture -%}
  27345^^Om Øyo^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|140099420253|||^^^^^^0^^~~
  {%- capture content %}<h2>Lama</h2>
<p>Ektef&oslash;lt og Nordisk design ned til kjernen, har Lama Interi&oslash;r produsert h&aring;ndlaget hjemmedekor i mer enn et ti&aring;r.</p>
<p>De har levert interi&oslash;rprodukter til flere av de mest kjente interi&oslash;rkjedene i Norge med sine unike og innbydende design, og fortsetter &aring; fornye seg selv &aring;r etter &aring;r.</p>
<p>Halvor Bakke fikk ogs&aring; designet og utviklet sin f&oslash;rste egne interi&oslash;rkolleksjon etter han begynte &aring; jobbe med Lama, noe som har v&aelig;rt en fantastisk suksess.</p>
<p>Selskapet ble startet av LArs og MArianne - LAMA, og hele selskapet er bygget p&aring; en kj&aelig;rlighetshistorie, noe som forklarer hvorfor "lama-hjertet" har en s&aring; sentral plass i deres merkevare.</p>
<p>Lama har produsert mange av de flotte produktene vi tilbyr under <a title="Interi&oslash;r for hytte og hus i nettbutikken" href="https://hyttefeber.no/collections/interior-til-hytter-og-hus">interi&oslash;r for hus og hytte i nettbutikken.</a></p>{% endcapture -%}
  27344^^Om Lama Interiør^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Lama^^^^^^0^^~~
  {%- capture content %}<h3>Arabia</h3>
<div style="-en-clipboard: true;">Arabia er en av Finlands mest kjente og kj&aelig;re merkevarer. I over 140 &aring;r har produktutene til Arabia preget hjemmene til flere generasjoner Finner i tykt og tynt. Den sterke merkevaren er basert p&aring; livsglede og gode &oslash;yeblikk, sammen, i hjemmet. Produktene er av h&oslash;y kvalitet, og er utformet i praktiske og vennlige design.</div>
<p><!--?xml version="1.0" encoding="UTF-8"?--></p>
<div>Moomin er ogs&aring; en av Finlands aller kj&aelig;reste merkevarer. Sammen blir de en fortryllende kombinasjon av nostalgi, hygge og kvalitet. Det er noe med Mummiuniverset som b&aring;de inspirerer og treffer noe i oss alle.&nbsp;</div>{% endcapture -%}
  39906^^Om Arabia^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Mummi||Arabia^^^^^^1^^~~
  {%- capture content %}<ul>
<li><strong>Hvor lages b&aring;lpannene til FROST produkter?</strong></li>
</ul>
<p>FROST produkter AS sin fabrikk ligger i &Aring;lesund.</p>
<ul>
<li><strong>Hvorfor blir det s&aring; lite r&oslash;yk?</strong></li>
</ul>
<p>B&aring;lpanna er designet for &aring; trekke inn kald luft i bunnen og varme opp denne i luftrom mellom indre og ytre st&aring;lkappe, varm luft stiger og kommer ut i toppen av b&aring;lpannen noe som gir en reaksjon der den brennbare r&oslash;ykgassen tar fyr. Dette gj&oslash;r at man f&aring;r en ny forbrenning, mindre r&oslash;yk og mer varme!&nbsp;</p>
<p>Det tar noen minutter f&oslash;r temperaturen i b&aring;lpannen er h&oslash;y nok til at r&oslash;ykgassen begynner &aring; forbrenne. Det vil derfor v&aelig;re litt r&oslash;yk i opptenningsfasen.</p>
<ul>
<li><strong>Oppfyring</strong></li>
</ul>
<p>Grunnet god lufttilf&oslash;rsel er det enkelt &aring; fyre opp.</p>
<p>Pr&oslash;v gjerne <a title="Tennull" href="https://hyttefeber.no/products/tennull-natur-fra-espegard">tenn-ullen</a> vi har i nettbutikken.&nbsp;</p>
<p>Tenn opp med noen f&aring; vedkubber i midten av b&aring;lpannen, n&aring;r det er tatt godt fyr kan du legge p&aring; mer ved, og b&aring;lpannen vil begynne forbrenningen av r&oslash;ykgasser.</p>
<ul>
<li><strong>Vil b&aring;lpannene holde fargen av b&oslash;rstet st&aring;l over tid?</strong></li>
</ul>
<p>Etter hvert som b&aring;lpanna blir brukt vil st&aring;let endre noe farge der det er direkte kontakt med flammer, og de varmeste stedene rundt. Dette er en naturlig reaksjon som skjer pga. varmen. Fra ca. 210 grader vil st&aring;let begynne &aring; endre farge.</p>
<ul>
<li><strong>Kan b&aring;lpannen brukes direkte p&aring; treterrasse?</strong></li>
</ul>
<p>Alle v&aring;re rentbrennende b&aring;lpanner kan trygt brukes p&aring; treterrasse uten &aring; gj&oslash;re skade p&aring; terrassen!&nbsp;</p>{% endcapture -%}
  63983^^Spørsmål og Svar^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Frost Produkter^^^^3^^0^^~~
  {%- capture content %}<div><strong>Kort intro til bruk av TenderFlame</strong></div>
<div>&nbsp;</div>
<div><strong>F&oslash;rste gangs bruk</strong></div>
<div>&nbsp;</div>
<div>For &aring; oppn&aring; optimale flammer, anbefaler vi ved f&oslash;rste gangs bruk &aring; <span style="text-decoration: underline;">fylle tanken helt full</span>, og p&aring;se at man fukter hele veken godt med TenderFuel f&oslash;r opptenning.</div>
<div>Det vil si at det skal fylles TenderFuel etter angitte m&aring;l, og at <span style="text-decoration: underline;">veken fuktes</span>.</div>
<div>St&aring;r det at tanken rommer 1 liter, skal du f&oslash;rste gangen bruke dette.</div>
<div>P&aring; mindre modeller/bordmodeller, eller i de tilfeller hvor man ikke vet hvor mye tanken rommer, fyller man TenderFuel opp til undersiden av &laquo;vekelokket&raquo;, og fukter s&aring; veken fra oversiden.</div>
<div>N&aring;r man, etter &aring; ha fylt den opp, setter &laquo;vekelokket&raquo; tilbake i en av de mindre modellene/bordmodellene, skal det alts&aring; ikke st&aring;</div>
<div>Tenderfuel p&aring; oversiden av &laquo;vekelokket&raquo;. Om s&aring; skjer, hell av overfl&oslash;dig TenderFuel til v&aelig;sken er p&aring; undersiden av platen.&nbsp;</div>
<div>&nbsp;</div>
<div>Her finner du resten av instruksjonene fra Tenderflame: <a title="Instruksjoner til Tenderflame" href="https://cdn.shopify.com/s/files/1/0043/7560/9437/files/Kort_intro_til_bruk_av_TenderFlame_06.01.2021.pdf?v=1610477993" target="_blank" rel="noopener">Kom i gang med Tenderflame</a></div>{% endcapture -%}
  53573^^Instruksjoner^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Tenderflame^^^^5^^0^^~~
  {%- capture content %}<p>Her kan du lese anmeldelsene av Karu i pizzapakken:</p>
<p><a title="Anmeldelser av Karu " href="https://hyttefeber.no/products/pizza-pakken?variant=32182921068637#vurderinger-if-typeof-windowcmcommercedata-undefined-windowcmcommercedata">https://hyttefeber.no/products/pizza-pakken?variant=32182921068637#vurderinger-if-typeof-windowcmcommercedata-undefined-windowcmcommercedata</a></p>{% endcapture -%}
  73846^^Les tilbakemeldingene her ⭐️⭐️⭐️⭐️⭐️^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7280681484439,7280628498583,7282796134551,7284376174743||||^^^^2^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->