{%- capture tabs %}
  {%- capture content %}<h2>HADELAND GLASSVERK</h2>
<p>Hadeland Glassverk ble etablert i <strong>1762</strong>, og har opprettholdt deres kvalitet og stolte h&aring;ndverkstradisjoner i <em>mer enn 250 &aring;r</em>.</p>
<p>Tilsvarende Porsgrund, er <a title="Hadeland Glassverk" href="https://hyttefeber.no/collections/hadeland-glassverk">Hadeland Glassverk</a> en ikonisk merkevare for alt ting glass i Norge. Til og med i s&aring; stor grad at elever fra skoler i n&aelig;rheten vanligvis har klassetur dit for &aring; se hvordan de produserer sine popul&aelig;re glass. - Noe som taler for hvilken enorm kulturell posisjon Hadeland har hatt i Norge siden begynnelsen. Her finner du alle v&aring;re <a title="Hadeland Glassverk" href="https://hyttefeber.no/collections/hadeland-glassverk">produkter fra Hadeland Glassverk</a>.</p>
<h3>Norgesglasset</h3>
<p>Hadeland Glassverk er i nyere tid kanskje mest kjent for deres Norgesglass-serie. Den fablede luft-tette krukken som dramatisk forbedret lagringstiden for hjemmelaget mat i Norske hjem etter lanseringen i 1906, som sett i en annonse fra en avis fra denne tiden. Det&nbsp;har senere blitt den gyldne standarden for n&aring;r man skal lage hjemmelaget syltet&oslash;y med b&aelig;ra fra hagen.</p>
<p>Glassene er ogs&aring; sv&aelig;rt popul&aelig;re for andre typer mat og <a title="Oppbevaring p&aring; kj&oslash;kkenet" href="https://hyttefeber.no/collections/oppbevaring">oppbevaring p&aring; kj&oslash;kkenet</a>, og gir et nostalgisk preg.</p>
<p>Her finner du hele samlingen med alt fra <a title="Norgesglasset" href="https://hyttefeber.no/collections/norgesglasset-hele-den-originale-serien">Norgesglasset</a>.</p>{% endcapture -%}
  27311^^Om Hadeland Glassverk^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Hadeland Glassverk^^^^2^^0^^~~
  {%- capture content %}<h5><strong>PORSGRUND PORSEL&AElig;NSFABRIK</strong></h5>
<p>Porsgrund Porselen er en vanvittig sterk og tradisjonell merkevare for oss Nordmenn. De har laget porselensvarer av h&oslash;y kvalitet i mer enn hundre &aring;r! Etablert s&aring; tidlig som i <u><strong>1885</strong></u>, har Porsgrund blitt en merkevare praktisk talt alle Nordmenn er kjent med. Verdenskjente malere som blant annet Theodor Kittelsen, Odd Nerdrum, og Ferdinand Finne har p&aring; lidenskapelig vis skapt unike design for dem gjennom deres lange historie.</p>
<p>Deres up&aring;klagelige kvalitet og &oslash;ye for detaljer er blant de mange grunnene til at de har blitt en s&aring; sterk merkevare siden begynnelsen.</p>
<p><strong>Her finner du hele utvalget fra <a title="Porsgrund porselen" href="../collections/porsgrund-porselen">Porsgrund porselen</a></strong></p>
<p><br /><br /><br /></p>{% endcapture -%}
  27312^^Om Porsgrund Porselen^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Porsgrunds Porselænsfabrik^^^^^^0^^~~
  {%- capture content %}<h3>Norgesglasset</h3>
<p>Norgesglasset er for de fleste kanskje mest kjent for den fablede luft-tette krukken som dramatisk forbedret lagringstiden for hjemmelaget mat i Norske hjem etter lanseringen i 1906, som sett i en annonse fra en avis fra denne tiden. Det har senere blitt den gyldne standarden for n&aring;r man skal lage hjemmelaget syltet&oslash;y med b&aelig;ra fra hagen, og mye annet.</p>
<p>Glassene er ogs&aring; sv&aelig;rt popul&aelig;re for andre typer mat og oppbevaring p&aring; kj&oslash;kkenet, og gir et nostalgisk preg.</p>
<p>De siste &aring;rene har de lansert flere nyheter med det samme, klassiske og nostalgiske preget som gj&oslash;r at ogs&aring; helt nye produkter likevel f&oslash;les kjent.</p>
<p><strong>Her finner du hele utvalget fra <a title="Norgesglasset" href="../collections/norgesglasset-hele-den-originale-serien">Norgesglasset</a>.</strong></p>{% endcapture -%}
  27317^^Om Norgesglasset^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|161431322717|||Norgesglasset^^^^^^0^^~~
  {%- capture content %}<h2>MARIUSM&Oslash;NSTERET</h2>
<p>Det er ingen andre symboler som bedre viser Nordmenns kj&aelig;rlighet for natur og mark, enn det sagnomsuste Mariusm&oslash;nstret.</p>
<p>M&oslash;nsteret ble&nbsp;designet av Unn S&oslash;iland i 1953, og ble et ikon n&aelig;rmest umiddelbart. De fleste, om ikke <em>alle</em> Nordmenn, har&nbsp;v&aelig;rt kledd i dette m&oslash;nstret en gang i livet. Ofte ogs&aring; kombinert med topplue og kvikk-lunch p&aring; topptur eller i langrennsl&oslash;ypa.</p>
<p>M&oslash;nsteret er utvilsomt det mest popul&aelig;re strikkem&oslash;nsteret i Norgeshistorien. Unn mottok til og med "Kongens fortjenestemedalje" for hennes fremragende innsats i &aring; utvikle norske strikketradisjoner og design, og for &aring; ha gjort Norskstrikkede produkter kjent utenlands.</p>
<p>Vi er utrolig stolte over &aring; kunne tilby produkter med dette legendariske m&oslash;nsteret, og mener det er&nbsp;et fantastisk symbol man b&oslash;r ha p&aring; hytta.</p>
<p><a title="Her finner du hele utvalget med Marius." href="../collections/alt-marius-servise-kopper-sokker-servietter-og-mer"><strong>Her finner du hele utvalget med Marius.</strong></a></p>{% endcapture -%}
  27318^^Om Mariusmønsteret^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|161273675869|||^^^^2^^0^^~~
  {%- capture content %}<h2>Lama Interi&oslash;r</h2>
<p>Ektef&oslash;lt og Nordisk design ned til kjernen, har <a title="Lama Interi&oslash;r i nettbutikken" href="https://hyttefeber.no/collections/lama-interior">Lama Interi&oslash;r</a> produsert h&aring;ndlaget hjemmedekor i mer enn et ti&aring;r.</p>
<p>De har levert interi&oslash;rprodukter til flere av de mest kjente interi&oslash;rkjedene i Norge med sine unike og innbydende design, og fortsetter &aring; fornye seg selv &aring;r etter &aring;r.</p>
<p><a title="Halvor Bakke " href="https://hyttefeber.no/collections/serie-halvor-bakke">Halvor Bakke</a> fikk ogs&aring; designet og utviklet sin f&oslash;rste egne interi&oslash;rkolleksjon etter han begynte &aring; jobbe med Lama, noe som har v&aelig;rt en fantastisk suksess siden start.</p>
<p>Selskapet ble startet av LArs og MArianne - LAMA, og hele selskapet er bygget p&aring; en kj&aelig;rlighetshistorie, noe som forklarer hvorfor "lama-hjertet" har en s&aring; sentral plass i deres merkevare.</p>
<p>Lama har produsert mange av de flotte produktene vi tilbyr under <a title="Interi&oslash;r for hytte og hus i nettbutikken" href="https://hyttefeber.no/collections/interior-til-hytter-og-hus">interi&oslash;r for hus og hytte i nettbutikken.</a></p>{% endcapture -%}
  27344^^Om Lama Interiør^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Lama^^^^^^0^^~~
  {%- capture content %}<h2>&Oslash;yo</h2>
<p>&Oslash;yo er en norsk familiebedrift fra Geilo, startet s&aring; tidlig som i <strong>1882</strong> av selveste Knut &Oslash;yo. Etter trange tider med d&aring;rlig jord, dystert v&aelig;r, og bestemte han seg for &aring; starte en smie. Der har det blitt smidd alt fra lj&aring;er til sigder og &oslash;kser I flere mannsaldre.</p>
<p>I 1920-&aring;rene, allerede etter&nbsp;en generasjon med drift, bestemte de seg for &aring; utvide familiebedriften til &aring; bli en fabrikk. Smia ble bygget p&aring; flere ganger, og &oslash;kseproduksjonen skulle vise seg &aring; bli et av de viktigste verkt&oslash;yene de produsere, helt frem til nyere tid. De produserte ogs&aring; kniver allerede da, noe de er mest kjent for i moderne tid.</p>
<p>Fra 1994&nbsp;var det hele fjerde generasjon familie som tok over driften, Knut Olav &Oslash;yo, der de jevnt og trutt har hold tritt med tiden. Og aller siste generasjon av familien &Oslash;yo kom p&aring; banen i 2014 - for f&oslash;rste gang ledet av kvinnene Karianne og Kathrine &Oslash;yo.</p>
<p>Siden den tid har merkevaren bare blitt sterkere og sterkere, og de velkjente knivene har derfra ikke bare holdt tritt med velkjente merkevarer som "Global", men faktisk vist seg &aring; v&aelig;re enda bedre i n&oslash;ytrale tester!</p>
<p>Vi er dermed utrolig stolte av &aring; kunne tilby noe av det stolteste og beste innen kniver og &oslash;kser som er tilgjengelig p&aring; det norske markedet! Produktene b&aelig;rer preg av norsk natur, og generasjoner med brutalt fokus p&aring; kvalitet og nytte. Det er kniver av ypperste rang, som i mange tilfeller ogs&aring; leveres med magnetslirer s&aring; de lett kan b&aelig;res med seg. B&aring;de p&aring; tur i skog og mark, og trygt plassert p&aring; kj&oslash;kkenet hjemme.</p>
<p><strong>Her finner du hele utvalget <a title="kniver og kj&oslash;kkenprodukter fra &Oslash;yo" href="../collections/alt-fra-oyo">kniver og kj&oslash;kkenprodukter fra &Oslash;yo</a></strong></p>{% endcapture -%}
  27345^^Om Øyo^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Øyo^^^^2^^0^^~~
  {%- capture content %}<p><img style="max-width: 100%;" src="https://cdn.shopify.com/s/files/1/1855/1065/files/NVRLND_Size_Chart_65f7a81c-5561-41c1-a414-79d226dc93a5.jpg" /></p>{% endcapture -%}
  27346^^Størrelsesguide^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|159509250141|||^^^^3^^0^^~~
  {%- capture content %}<ul>
<li><strong>Hvor lages b&aring;lpannene til FROST produkter?</strong></li>
</ul>
<p>FROST produkter AS sin fabrikk ligger i &Aring;lesund.</p>
<ul>
<li><strong>Hvorfor blir det s&aring; lite r&oslash;yk?</strong></li>
</ul>
<p>B&aring;lpanna er designet for &aring; trekke inn kald luft i bunnen og varme opp denne i luftrom mellom indre og ytre st&aring;lkappe, varm luft stiger og kommer ut i toppen av b&aring;lpannen noe som gir en reaksjon der den brennbare r&oslash;ykgassen tar fyr. Dette gj&oslash;r at man f&aring;r en ny forbrenning, mindre r&oslash;yk og mer varme!&nbsp;</p>
<p>Det tar noen minutter f&oslash;r temperaturen i b&aring;lpannen er h&oslash;y nok til at r&oslash;ykgassen begynner &aring; forbrenne. Det vil derfor v&aelig;re litt r&oslash;yk i opptenningsfasen.</p>
<ul>
<li><strong>Oppfyring</strong></li>
</ul>
<p>Grunnet god lufttilf&oslash;rsel er det enkelt &aring; fyre opp.</p>
<p>Pr&oslash;v gjerne <a title="Tennull" href="https://hyttefeber.no/products/tennull-natur-fra-espegard">tenn-ullen</a> vi har i nettbutikken.&nbsp;</p>
<p>Tenn opp med noen f&aring; vedkubber i midten av b&aring;lpannen, n&aring;r det er tatt godt fyr kan du legge p&aring; mer ved, og b&aring;lpannen vil begynne forbrenningen av r&oslash;ykgasser.</p>
<ul>
<li><strong>Vil b&aring;lpannene holde fargen av b&oslash;rstet st&aring;l over tid?</strong></li>
</ul>
<p>Etter hvert som b&aring;lpanna blir brukt vil st&aring;let endre noe farge der det er direkte kontakt med flammer, og de varmeste stedene rundt. Dette er en naturlig reaksjon som skjer pga. varmen. Fra ca. 210 grader vil st&aring;let begynne &aring; endre farge.</p>
<ul>
<li><strong>Kan b&aring;lpannen brukes direkte p&aring; treterrasse?</strong></li>
</ul>
<p>Alle v&aring;re rentbrennende b&aring;lpanner kan trygt brukes p&aring; treterrasse uten &aring; gj&oslash;re skade p&aring; terrassen!&nbsp;</p>{% endcapture -%}
  63983^^Spørsmål og Svar^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Frost Produkter^^^^3^^0^^~~
  {%- capture content %}<div><strong>Kort intro til bruk av TenderFlame</strong></div>
<div>&nbsp;</div>
<div><strong>F&oslash;rste gangs bruk</strong></div>
<div>&nbsp;</div>
<div>For &aring; oppn&aring; optimale flammer, anbefaler vi ved f&oslash;rste gangs bruk &aring; <span style="text-decoration: underline;">fylle tanken helt full</span>, og p&aring;se at man fukter hele veken godt med TenderFuel f&oslash;r opptenning.</div>
<div>Det vil si at det skal fylles TenderFuel etter angitte m&aring;l, og at <span style="text-decoration: underline;">veken fuktes</span>.</div>
<div>St&aring;r det at tanken rommer 1 liter, skal du f&oslash;rste gangen bruke dette.</div>
<div>P&aring; mindre modeller/bordmodeller, eller i de tilfeller hvor man ikke vet hvor mye tanken rommer, fyller man TenderFuel opp til undersiden av &laquo;vekelokket&raquo;, og fukter s&aring; veken fra oversiden.</div>
<div>N&aring;r man, etter &aring; ha fylt den opp, setter &laquo;vekelokket&raquo; tilbake i en av de mindre modellene/bordmodellene, skal det alts&aring; ikke st&aring;</div>
<div>Tenderfuel p&aring; oversiden av &laquo;vekelokket&raquo;. Om s&aring; skjer, hell av overfl&oslash;dig TenderFuel til v&aelig;sken er p&aring; undersiden av platen.&nbsp;</div>
<div>&nbsp;</div>
<div>Her finner du resten av instruksjonene fra Tenderflame: <a title="Instruksjoner til Tenderflame" href="https://cdn.shopify.com/s/files/1/0043/7560/9437/files/Kort_intro_til_bruk_av_TenderFlame_06.01.2021.pdf?v=1610477993" target="_blank" rel="noopener">Kom i gang med Tenderflame</a></div>{% endcapture -%}
  53573^^Instruksjoner^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Tenderflame^^^^5^^0^^~~
  {%- capture content %}<h3>Arabia</h3>
<div style="-en-clipboard: true;">Arabia er en av Finlands mest kjente og kj&aelig;re merkevarer. I over 140 &aring;r har produktutene til Arabia preget hjemmene til flere generasjoner Finner i tykt og tynt. Den sterke merkevaren er basert p&aring; livsglede og gode &oslash;yeblikk, sammen, i hjemmet. Produktene er av h&oslash;y kvalitet, og er utformet i praktiske og vennlige design.</div>
<p><!--?xml version="1.0" encoding="UTF-8"?--></p>
<div>Moomin er ogs&aring; en av Finlands aller kj&aelig;reste merkevarer. Sammen blir de en fortryllende kombinasjon av nostalgi, hygge og kvalitet. Det er noe med Mummiuniverset som b&aring;de inspirerer og treffer noe i oss alle.&nbsp;</div>
<div>&nbsp;</div>
<div><strong>Her finner du alt <a title="Mummi, fra Arabia" href="https://hyttefeber.no/collections/arabia">Mummi, fra Arabia</a></strong></div>{% endcapture -%}
  39906^^Om Arabia^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Mummi||Arabia^^^^2^^1^^~~
  {%- capture content %}<p>P&aring; dette produktet kan du lage din egen pakke, og f&aring; kortene til en lavere pris jo flere du kj&oslash;per.</p>
<ul>
<li>3 julekunstkort for 129kr (-6kr per kort)</li>
<li>6 julekunstkort for 229kr (-11kr per kort)</li>
<li>12 julekunstkort for 399kr (-16kr per kort)</li>
<li>24 julekunstkort for 699kr (-20kr per kort!)</li>
</ul>
<p>&nbsp;</p>{% endcapture -%}
  74180^^Plukk og miks, med rabatt^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|279830757527||Kunstkort|^^^^4^^0^^~~
  {%- capture content %}<script src="https://widget.reviews.io/polaris/build.js"></script>
<div id="ReviewsWidget"></div>
<script>
new ReviewsWidget('#ReviewsWidget', {
//Your REVIEWS.io Store ID and widget type:
store: 'hyttefeber.no',
widget: 'polaris',

//Content settings (store_review,product_review,third_party_review,questions). Choose what to display in this widget:
options: {
    types: 'product_review',
    lang: 'no',
    //Possible layout options: bordered, large and reverse.
    layout: '',
    //How many reviews & questions to show per page?
    per_page: 15,
    store_review:{
      hide_if_no_results: false,
    },
    third_party_review:{
      hide_if_no_results: false,
    },
    product_review: {
      sku: "{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}",
      enable_rich_snippets: true,

      /* Your custom Structured Data */
      structured_data: {

        category: {{ product.type | json }},
        {% capture gtin_length %}
          {{ product.variants.first.barcode | size }}
        {% endcapture %}

        {% if gtin_length == "14" %}
          gtin14:"{{product.variants.first.barcode}}",
        {% elsif gtin_length == "13" %}
          gtin13:"{{product.variants.first.barcode}}",
        {% elsif gtin_length == "12" %}
          gtin12:"{{product.variants.first.barcode}}",
        {% endif %}

        url: "{{ shop.url }}{{ product.url }}",

        {%- if product.featured_image -%}
          image: "https:{{ product.featured_image | product_img_url: 'grande' }}",
        {%- endif -%}

        {% if variant.image %}
          {% assign variant_image_size = variant.image.width | append: 'x' %}
          image: "http:{{ variant.image.src | img_url: variant_image_size }}",
        {% endif %}

        description: "{{ product.description | strip_html | strip_newlines | escape }}",
        {% assign ruk_current_variant = product.selected_or_first_available_variant %}
        {% assign ruk_variant_count = product.variants | size %}
        {% assign ruk_count = 0 %}

        {% if product.variants %}
          {% assign ruk_count = ruk_count | plus: 1 %}

          offers: [{
              type: "Offer",
              priceCurrency: "{{ shop.currency }}",
              price: "{{ ruk_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
              itemCondition: "http://schema.org/NewCondition",
              availability: "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
              url: "{{ shop.url }}{{ ruk_current_variant.url }}",

              {% if ruk_current_variant.image %}
                  {% assign variant_image_size = ruk_current_variant.image.width | append: 'x' %}
                  image: "https:{{ ruk_current_variant.image.src | img_url: variant_image_size }}",
              {% else %}
                  image: "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {% endif %}

              {% if ruk_current_variant.title != 'Default Title' %}
                  name: "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
              {% else %}
                  name: "{{ product.title | strip_html | escape }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 12 %}
                  gtin12: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 13 %}
                  gtin13: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 14 %}
                  gtin14: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.sku != blank %}
                  sku: "{{ ruk_current_variant.sku }}",
              {% else %}
                  sku: "{{ ruk_current_variant.id }}",
              {% endif %}

              {% if product.description != blank %}
                  description: "{{ product.description | strip_html | escape | strip_newlines }}",
              {% endif %}

              priceValidUntil: "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
          }],
        {% endif %}

        brand: {
          type: 'Brand',
          name: '{{ product.vendor | escape }}',
        },
      },
    },

    /* Toggle Options */
    questions:{
          hide_if_no_results:false,
          enable_ask_question:true,
          show_dates:true,
          grouping:"{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
    },

    //Header settings:
    header:{
        enable_summary: true, //Show overall rating & review count
        enable_ratings: true,
        enable_attributes: true,
        enable_image_gallery: true, //Show photo & video gallery
        enable_percent_recommended: false, //Show what percentage of reviewers recommend it
        enable_write_review: true, //Show "Write Review" button
        enable_ask_question: true, //Show "Ask Question" button
        enable_sub_header: true, //Show subheader
    },

    //Filtering settings:
    filtering:{
        enable: true, //Show filtering options
        enable_text_search: true, //Show search field
        enable_sorting: true, //Show sorting options (most recent, most popular)
        enable_overall_rating_filter: true, //Show overall rating breakdown filter
        enable_ratings_filters: true, //Show product attributes filter
        enable_attributes_filters: true, //Show author attributes filter
    },

    //Review settings:
    reviews:{
        enable_avatar: false, //Show author avatar
        enable_reviewer_name:  true, //Show author name
        enable_reviewer_address:  true, //Show author location
        reviewer_address_format: 'city, country', //Author location display format
        enable_verified_badge: true, //Show "Verified Customer" badge
        review_content_filter: 'undefined', //Filter content
        enable_reviewer_recommends: true, //Show "I recommend it" badge
        enable_attributes: true, //Show author attributes
        enable_product_name: true, //Show display product name
        enable_review_title: true, //Show review title
        enable_replies: true, //Show review replies
        enable_images: true, //Show display review photos
        enable_ratings: true, //Show product attributes (additional ratings)
        enable_share: true, //Show share buttons
        enable_helpful_vote: true, //Show "was this helpful?" section
        enable_helpful_display: true, //Show how many times times review upvoted
        enable_report: true, //Show report button
        enable_date: true, //Show when review was published
    },
},
//Translation settings
translations: {
    'Verified Customer': 'Bekreftet kjøper'
},
//Style settings:
styles: {
    //Base font size is a reference size for all text elements. When base value gets changed, all TextHeading and TexBody elements get proportionally adjusted.
    '--base-font-size': '16px',

    //Button styles (shared between buttons):
    '--common-button-font-family': 'inherit',
    '--common-button-font-size':'16px',
    '--common-button-font-weight':'500',
    '--common-button-letter-spacing':'0',
    '--common-button-text-transform':'none',
    '--common-button-vertical-padding':'10px',
    '--common-button-horizontal-padding':'20px',
    '--common-button-border-width':'2px',
    '--common-button-border-radius':'0px',

    //Primary button styles:
    '--primary-button-bg-color': '#0E1311',
    '--primary-button-border-color': '#0E1311',
    '--primary-button-text-color': '#ffffff',

    //Secondary button styles:
    '--secondary-button-bg-color': 'transparent',
    '--secondary-button-border-color': '#0E1311',
    '--secondary-button-text-color': '#0E1311',

    //Star styles:
    '--common-star-color': '#FFE206',
    '--common-star-disabled-color': 'rgba(0,0,0,0.25)',
    '--medium-star-size': '22px',
    '--small-star-size': '19px',

    //Heading styles:
    '--heading-text-color': '#0E1311',
    '--heading-text-font-weight': '600',
    '--heading-text-font-family': 'inherit',
    '--heading-text-line-height': '1.4',
    '--heading-text-letter-spacing': '0',
    '--heading-text-transform': 'none',

    //Body text styles:
    '--body-text-color': '#0E1311',
    '--body-text-font-weight': '400',
    '--body-text-font-family': 'inherit',
    '--body-text-line-height': '1.4',
    '--body-text-letter-spacing': '0',
    '--body-text-transform': 'none',

    //Input field styles:
    '--inputfield-text-font-family': 'inherit',
    '--input-text-font-size': '14px',
    '--inputfield-text-font-weight': '400',
    '--inputfield-text-color': '#0E1311',
    '--inputfield-border-color': 'rgba(0,0,0,0.2)',
    '--inputfield-background-color': 'transparent',
    '--inputfield-border-width': '1px',
    '--inputfield-border-radius': '0px',

    '--common-border-color': 'rgba(0,0,0,0.15)',
    '--common-border-width': '1px',
    '--common-sidebar-width': '190px',

    //Slider indicator (for attributes) styles:
    '--slider-indicator-bg-color': 'rgba(0,0,0,0.1)',
    '--slider-indicator-button-color': '#0E1311',
    '--slider-indicator-width': '190px',

    //Badge styles:
    '--badge-icon-color': '#0E1311',
    '--badge-icon-font-size': 'inherit',
    '--badge-text-color': '#0E1311',
    '--badge-text-font-size': 'inherit',
    '--badge-text-letter-spacing': 'inherit',
    '--badge-text-transform': 'inherit',

    //Author styles:
    '--author-font-size': 'inherit',
    '--author-text-transform': 'none',

    //Author avatar styles:
    '--avatar-thumbnail-size': '60px',
    '--avatar-thumbnail-border-radius': '100px',
    '--avatar-thumbnail-text-color': '#0E1311',
    '--avatar-thumbnail-bg-color': 'rgba(0,0,0,0.1)',

    //Product photo or review photo styles:
    '--photo-video-thumbnail-size': '80px',
    '--photo-video-thumbnail-border-radius': '0px',

    //Media (photo & video) slider styles:
    '--mediaslider-scroll-button-icon-color': '#0E1311',
    '--mediaslider-scroll-button-bg-color': 'rgba(255, 255, 255, 0.85)',
    '--mediaslider-overlay-text-color': '#ffffff',
    '--mediaslider-overlay-bg-color': 'rgba(0, 0, 0, 0.8))',
    '--mediaslider-item-size': '110px',

    //Pagination & tabs styles (normal):
    '--pagination-tab-text-color': '#0E1311',
    '--pagination-tab-text-transform': 'none',
    '--pagination-tab-text-letter-spacing': '0',
    '--pagination-tab-text-font-size': '16px',
    '--pagination-tab-text-font-weight': '600',

    //Pagination & tabs styles (active):
    '--pagination-tab-active-text-color': '#0E1311',
    '--pagination-tab-active-text-font-weight': '600',
    '--pagination-tab-active-border-color': '#0E1311',
    '--pagination-tab-border-width': '3px',
},
});
</script>{% endcapture -%}
  74803^^Anmeldelser og spørsmål^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||_reviewtest||^^^^2^^0^^~~
  {%- capture content %}<p>Her kan du lese anmeldelsene av Karu i pizzapakken:</p>
<p><a title="Anmeldelser av Karu " href="https://hyttefeber.no/products/pizza-pakken?variant=32182921068637#vurderinger-if-typeof-windowcmcommercedata-undefined-windowcmcommercedata">https://hyttefeber.no/products/pizza-pakken?variant=32182921068637#vurderinger-if-typeof-windowcmcommercedata-undefined-windowcmcommercedata</a></p>{% endcapture -%}
  73846^^Les tilbakemeldingene her ⭐️⭐️⭐️⭐️⭐️^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7280681484439,7280628498583,7282796134551,7284376174743||||^^^^2^^0^^~~
  {%- capture content %}<p>HOLM er en dansk produsent av kj&oslash;kkenprodukter med fokus p&aring; design og praktisk bruk. De bruker ofte materialer av tre, og utseendemessig egner de seg sv&aelig;rt godt p&aring; et hyttekj&oslash;kken.&nbsp;</p>
<p>Utenom kj&oslash;kkenprodukter i tre, lager de ogs&aring; kj&oslash;kkenprodukter i st&oslash;pejern.</p>
<p><strong>Her finner du hele utvalget med <a title="kj&oslash;kkenprodukter i tre fra HOLM" href="../collections/holm-tre-produkter">kj&oslash;kkenprodukter i tre fra HOLM</a>.&nbsp;</strong></p>
<p>&nbsp;</p>{% endcapture -%}
  88841^^Om HOLM^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|239458517143|||Holm,HOLM^^^^2^^0^^~~
  {%- capture content %}<p>Halvor Bakke er en norsk programleder og interi&oslash;rdesigner.&nbsp;</p>
<p>Han har produsert interi&oslash;r i en &aring;rrekke med Lama Interi&oslash;r, men er i nyere tid mest kjent som programleder for blant annet Eventyrlig Oppussing, og Norges Styggeste rom.&nbsp;</p>
<p>Halvor har designet en rekke flotte interi&oslash;rprodukter s&aring; langt. Alt fra lyslykter og lyslyktsett, til lekre trebrett og -fat, til dekorelementer.</p>
<p>Hos Hyttefeber tilbyr vi Halvor Bakke sine produkter fra <a title="Lama Interi&oslash;r" href="../collections/lama-interior-lykter-tekstil-brett-fat-og-dekor">Lama Interi&oslash;r</a>, <a title="Norsk Dun" href="../collections/norsk-dun">Norsk Dun</a> og <a title="Terrigeno" href="../collections/terrigeno">Terrigeno</a>.</p>
<p>Her finner du den popul&aelig;re serien "<a title="Cabin Collection av Halvor Bakke" href="../collections/cabin-collection-av-halvor-bakke">Cabin Collection av Halvor Bakke</a>", som er en serie interi&oslash;r utviklet spesielt for hytta.</p>
<p><strong>Her finner du alle produktene vi tilbyr fra <a title="Halvor Bakke" href="../collections/serie-halvor-bakke">Halvor Bakke</a>.</strong></p>{% endcapture -%}
  88840^^Om Halvor Bakke^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|161434370141|||^^^^2^^0^^~~
  {%- capture content %}<p>Aina Sollie Steen er en erfaren norsk interi&oslash;rdesigner, kunstner, og foredragsholder. Hun er blant annet kjent som dommer i "Sommerhytta", og designer i "Tid for Hjem" og "Brente Minner".&nbsp;</p>
<p>Aina har ogs&aring; designet en interi&oslash;rkolleksjon hos Lama, inspirert av den italienske rivieraen. Hun er glad i naturlige og ofte litt r&oslash;ffe materialer, og designer gjerne interi&oslash;rartikler med litt struktur. Hos oss finner du blant annet <strong>t&oslash;yservietter</strong>, <strong>lyslykter</strong>, <strong>serveringsbrett</strong> og -<strong>fj&oslash;ler</strong>, og <strong>putetrekk</strong>.</p>
<p>Her finner du hele utvalget fra <a title="Aina Sollie Steen" href="../collections/serie-aina-sollie-steen">Aina Sollie Steen</a></p>{% endcapture -%}
  88842^^Om Aina Sollie Steen^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|161434468445|||^^^^2^^0^^~~
  {%- capture content %}<p>Bark Bazar er mest kjent for sin serie med "Vaffel og Taffel" bordbrikker og grytekluter.&nbsp;</p>
<p>Bak selskapet st&aring;r produktdesignerne Maja og Helene, som fikk id&eacute;en da de studerte i London.</p>
<p>Produktene er laget av silikon, og er b&aring;de slitesterke, praktiske og g&oslash;yale. Vaffelhjertet har jo tross alt en egen plass i hjertet til den norske folkesjela, og er et kj&aelig;rkomment og lekent symbol for kos.</p>
<p>Her finner du hele utvalget fra <a title="Bark Bazaar" href="../collections/bark-bazaar">Bark Bazar</a></p>{% endcapture -%}
  88844^^Om Bark Bazar^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Bark Bazar^^^^2^^0^^~~
  {%- capture content %}<p>Espegard fra &Aring;l i Hallingdal er kanskje mest kjent for deres ikoniske <a title="Es&aring;egard B&aring;lpanne 60" href="https://hyttefeber.no/products/balpanne-60cm-fra-espegard">B&aring;lpanne 60</a>. Et produkt som for de fleste av oss f&oslash;les s&aring; kjent og riktig at man skulle tro de alltid har eksistert, selv om de f&oslash;rst kom p&aring; markedet i 2012.&nbsp;</p>
<p>Siden den gang har de ikke akkurat ligget p&aring; latsiden. De har utviklet hundrevis av nye produkter, forkastet en del, og forbedret mye. Resultatet er at for hvert eneste produkt man pr&oslash;ver fra <a title="Espegard " href="https://hyttefeber.no/collections/espegard">Espegard</a>, s&aring; sitter man igjen med f&oslash;lelsen av at "her er det noen smarte folk som har b&aring;de tenkt og testet, mye".&nbsp;</p>
<p>Et godt eksempel er alt det flotte tilbeh&oslash;ret til b&aring;lpanna. De fungerer skikkelig godt sammen, i alle mulige kombinasjoner slik at man kan "b&aring;le" akkurat som man selv &oslash;nsker. Og kvaliteten er fantastisk.&nbsp;</p>
<p><strong>Her finner du <a title="hele utvalget fra Espegard" href="../collections/espegard">hele utvalget fra Espegard</a></strong></p>{% endcapture -%}
  77188^^Om Espegard^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|225159381143|||^^^^3^^0^^~~
  {%- capture content %}<div data-pm-slice="1 1 []" data-en-clipboard="true">Finske Ooni har tatt verden med storm siden de kom p&aring; markedet med <span style="text-decoration: underline;">verdens f&oslash;rste portable pizzaovn</span> i 2012. Den gikk p&aring; pellets, og &aring;pnet opp for at vanlige folk endelig kunne lage fantastisk pizza hjemme.</div>
<div data-pm-slice="1 1 []" data-en-clipboard="true">&nbsp;</div>
<div data-pm-slice="1 1 []" data-en-clipboard="true">Siden den gang har de fortsatt &aring; innovere, og har lansert flere produktserier. De <a title="Ooni Koda Gassfyrt Pizzaovn " href="https://hyttefeber.no/collections/pizza-ovner-og-tilbehor/koda">gassfyrte Koda-ovnene</a> har blitt sv&aelig;r popul&aelig;re, spesielt p&aring; balkonger og i byer, da de ikke har pipe. <a title="Ooni Fyra Pizzaovn" href="https://hyttefeber.no/collections/pizza-ovner-og-tilbehor/fyra">Pelletsvarianten Fyra</a> er mest popul&aelig;r blant campere og folk p&aring; farta.</div>
<div data-pm-slice="1 1 []" data-en-clipboard="true">Og v&aring;r egen favoritt for hyttebruk, <a title="Ooni Karu pizzaovner" href="https://hyttefeber.no/collections/pizza-ovner-og-tilbehor/karu">Ooni Karu</a> 12, og det nye flaggskipet <a title="Ooni Karu 16 Pizzaovn" href="https://hyttefeber.no/products/nyhet-ooni-karu-16-utendors-pizzaovn">Ooni Karu 16</a>.</div>
<div data-pm-slice="1 1 []" data-en-clipboard="true">&nbsp;</div>
<div data-pm-slice="1 1 []" data-en-clipboard="true">Karu kan fyres med ved og kull, og kan ogs&aring; fyres p&aring; gass om man kj&oslash;per med gassbrenneren. Ooni har blitt k&aring;ret til best i test av selveste Wired magazine, og Karu 16 er den eneste pizzaovnen i verden som er godkjent for husholdningsbruk av "Associazione Verace Pizza Napoletana".</div>
<div><a title="Tilbeh&oslash;r til pizzabaking" href="../collections/pizza-tilbehor">Tilbeh&oslash;ret fra Ooni</a> er ogs&aring; i en klasse for seg selv. Alt fra Ooni er enkelt &aring; bruke, og av sv&aelig;rt h&oslash;y kvalitet.</div>
<div>&nbsp;</div>
<div>Her finner du hele utvalget <a title="pizzaovner og utstyr, fra Ooni" href="../collections/ooni">pizzaovner og utstyr, fra Ooni</a></div>{% endcapture -%}
  77187^^Om Ooni^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|241730486423|||^^^^3^^0^^~~
  {%- capture content %}<p>Emmesellestreken av akvarell- pigmenter, formidler og skildrer detaljene; minnene v&aring;re som hvisker om norsk arv og kultur.&nbsp;</p>
<p>Med nostalgiske motiver som "<a title="Soloflaske kunsttrykk fra Emmeselle" href="https://hyttefeber.no/products/kunsttrykk-30x40cm-soloflaske">Soloflaske</a>", "<a title="Vaffel kunsttrykk fra Emmeselle" href="https://hyttefeber.no/products/kunsttrykk-30x40cm-vaffel">Vaffel</a>", "Norgesglass", "<a title="Selbuvott kunsttrykk fra Emmeselle" href="https://hyttefeber.no/products/kunsttrykk-30x40cm-selbuvott">Selbuvott</a>" og "Melkekartong" finner vi selve sjela av norsk kultur.&nbsp;</p>
<p>P&aring; Hyttefeber.no tilbyr vi b&aring;de <a title="Kunsttrykk fra Emmeselle" href="https://hyttefeber.no/collections/emmeselle/Kunsttrykk">kunsttrykk</a>, <a title="Putetrekk fra Emmeselle" href="../collections/putetrekk-fra-emmeselle-og-hyttefeber">putetrekk</a>, og <a title="Kunstkort fra Emmeselle" href="https://hyttefeber.no/collections/emmeselle/Kunstkort">kunstkort</a> fra <a title="Emmeselle" href="https://hyttefeber.no/collections/emmeselle">Emmeselle</a>.</p>
<p>Begge deler trykkes i Telemark, p&aring; tykt, eksklusivt 300 grams papir. Emmeselle &oslash;nsker &aring; fokusere p&aring; milj&oslash;et og trykker p&aring; Svanemerket trykkeri, p&aring; milj&oslash;papir fra produsent som kan skryte av &aring; ha <span style="text-decoration: underline;">verdens mest klimavennlige papir!</span> 🌱&nbsp;</p>
<p><strong>Her finner du <a title="hele utvalget fra Emmeselle" href="../collections/emmeselle">hele utvalget fra Emmeselle</a></strong></p>{% endcapture -%}
  84852^^Om Emmeselle^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Emmeselle^^^^2^^0^^~~
  {%- capture content %}<p>Frost Produkter er et norsk firma som produserer rentbrennende b&aring;lpanner, i vakre &Aring;lesund.&nbsp;</p>
<p>De har p&aring; f&aring; &aring;r blitt en kjent akt&oslash;r i markedet, og har videre blitt kjent for den gode kvaliteten, og de innovative produktene de utvikler og produserer.&nbsp;</p>
<p><strong>Her finner du hele utvalget vi f&oslash;rer av <a title="Rentbrennende B&aring;lpanner fra Frost Produkter" href="../collections/frost-produkter-rentbrennende-balpanner">rentbrennende b&aring;lpanner fra Frost Produkter</a>, og tilbeh&oslash;r til disse.</strong></p>
<p>&nbsp;</p>{% endcapture -%}
  88838^^Om Frost Produkter^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|268044632215|||Frost Produkter^^^^2^^0^^~~
  {%- capture content %}<p>Hot Society er et norsk firma som produserer det vi mener er verdens beste hot sauce, i Norge. De holder til i vakre Son mellom Moss og Oslo, og produserer sausen p&aring; Dilling like ved.&nbsp;</p>
<p>Menneskene bak har en genuin lidenskap for hot sauce. De har blant annet mer enn 60 chiliplanter hjemme i hagen og drivhuset i Son, og bruker helgene p&aring; &aring; eksperimentere med nye oppskrifter.</p>
<p>Sausene har ingen m&aring;l om &aring; v&aelig;re de sterkeste p&aring; markedet, men heller &aring; spille p&aring; samspillet av smaker i ulike kombinasjoner, og til forskjellig bruk.&nbsp;</p>
<p>De bruker ingen kunstige tilsetningsstoffer, og smaker fantastisk! Det perfekte tilskudd til b&aring;lmat, taco, grillings og... som hemmelig ingrediens i pizzasausen.</p>
<p><strong>Her finner du hele utvalget med <a title="hot sauce fra Hot Society" href="../collections/nyhet-chilisaus-fra-hot-society">hot sauce fra Hot Society</a></strong></p>{% endcapture -%}
  88843^^Om Hot Society^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|268817662103|||^^^^2^^0^^~~
  {%- capture content %}<p>Canadian Outdoor er en norsk produsent og leverand&oslash;r av robuste og holdbare utem&oslash;bler med inspirasjon fra Canada.&nbsp;</p>
<p>Selskapet er drevet av menneskene bak selveste Espegard, s&aring; du kan v&aelig;re sikker p&aring; at produktene holder en gjennomg&aring;ende god standard, og h&oslash;y kvalitet.&nbsp;</p>
<p>Utem&oslash;blene er tiln&aelig;rmet vedlikeholdsfrie, og er produsert for &aring; vare i mange ti&aring;r.&nbsp;</p>
<p>Av de mest kjente produktene fra Canadian Outdoor, finner vi de klassiske <a title="Adirondack-stolene" href="../products/klassisk-adirondack-stol">Adirondack-stolene</a>, og <a title="Muskoka Pine Chair" href="../products/muskoka-pine-chair-fra-espegard-2580">Muskoka Pine Chair</a>. Disse har du h&oslash;yst sannsynlig sett p&aring; tv eller film f&oslash;r, og begge er fantastiske &aring; sitte i - selv uten noen form for pute.&nbsp;</p>
<p>Canadian Outdoor har ogs&aring; blitt kjent for sin flotte ser med <a title="LOG utem&oslash;bler" href="../collections/log-utemobler-fra-canadian-outdoor">LOG utem&oslash;bler</a>. Denne serien passer spesielt godt til vinterhytte p&aring; b&aring;de fjell og innland.</p>
<p><strong>Her finner du hele utvalget med <a title="utem&oslash;bler fra Canadian Outdoor" href="../collections/canadian-outdoor">utem&oslash;bler fra Canadian Outdoor</a></strong></p>{% endcapture -%}
  89008^^Om Canadian Outdoor^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|284786032791|||Canadian Outdoor^^^^2^^0^^~~
  {%- capture content %}<p>Fatboy er et Nederlands selskap som har holdt p&aring; i mer enn 20 &aring;r.&nbsp;</p>
<p>De er mest kjent for sine sittesekker/sakkosekker, som har blitt sv&aelig;rt popul&aelig;re b&aring;de internasjonalt og i Norge.&nbsp;</p>
<p>Utenom sittesekkene, produserer de ogs&aring; noen fantastiske hengek&oslash;yer, og oppladbare utelamper, for &aring; nevne noe.&nbsp;</p>
<p>Produktene fra Fatboy er ofte favoritter hos unge, da de er en herlig blanding av komfort og design. Lekne farger og ofte uvanlige former, gj&oslash;r at de kan brukes for &aring; modernisere et ellers tradisjonelt rom.</p>
<p><strong>Her finner du hele utvalget fra <a title="Fatboy" href="../collections/fatboy">Fatboy</a></strong></p>{% endcapture -%}
  89012^^Om Fatboy^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|202902438039|||Fatboy^^^^2^^0^^~~
  {%- capture content %}<p><strong>Frakt</strong></p>
<p>Bestillinger lagt inn f&oslash;r kl 12.00 blir vanligvis sendt samme dag, og bestillinger etter 12 sendes normalt dagen etter.&nbsp;</p>
<table class="shipping-info" style="width: 100%; height: 176.344px;" width="100%">
<tbody>
<tr style="height: 19.5938px;">
<td style="width: 79.922%; height: 19.5938px;">Hente hos oss (Fredrikstad)</td>
<td style="width: 20.078%; height: 19.5938px;"><strong>Gratis</strong></td>
</tr>
<tr style="height: 19.5938px;">
<td style="width: 79.922%; height: 19.5938px;"><strong>Bring</strong>: Til n&aelig;rmeste hentested i hele landet (1-4 virkedager)</td>
<td style="width: 20.078%; height: 19.5938px;"><strong>79kr</strong>&nbsp;(fastpris)</td>
</tr>
<tr style="height: 19.5938px;">
<td style="width: 79.922%; height: 19.5938px;"><strong>Bring:</strong> Levert hjem, opp til gods-st&oslash;rrelse.</td>
<td style="width: 20.078%; height: 19.5938px;"><strong>99kr</strong>&nbsp;(fastpris)</td>
</tr>
<tr style="height: 39.1875px;">
<td style="width: 79.922%; height: 39.1875px;"><strong>Bring</strong>: Til n&aelig;rmeste hentested med for ordre over 899kr, under 10kg.</td>
<td style="width: 20.078%; height: 39.1875px;"><strong>Gratis</strong></td>
</tr>
<tr style="height: 39.1875px;">
<td style="width: 79.922%; height: 39.1875px;"><strong>Bring</strong>: Levert hjem, for ordre over 899kr. fra 10kg til gods-st&oslash;rrelse</td>
<td style="width: 20.078%; height: 39.1875px;"><strong>Gratis</strong></td>
</tr>
<tr style="height: 19.5938px;">
<td style="width: 79.922%; height: 19.5938px;"><strong>Bring</strong>: Levert hjem, for ordre med godst&oslash;rrelse&nbsp;</td>
<td style="width: 20.078%; height: 19.5938px;"><strong>149kr</strong></td>
</tr>
<tr style="height: 19.5938px;">
<td style="width: 79.922%; height: 19.5938px;"><strong>Postnord</strong>: Levert hjem for ekstra tunge ordre&nbsp;</td>
<td style="width: 20.078%; height: 19.5938px;"><strong>179kr</strong></td>
</tr>
</tbody>
</table>
<p><strong>Returer</strong></p>
<p>Vi tilbyr utvidet angrerett i hele 90 dager. Dersom du angrer kj&oslash;pet kan du n&aring;r som helst kontakte oss p&aring; <a title="Mail til kundeservice" href="mailto:kundeservice@hyttefeber.no">kundeservice@hyttefeber.no</a> for &aring; f&aring; en returlapp. Da betaler vi returfrakten for deg, og 99kr blir trukket fra det refunderte bel&oslash;pet etter vi har mottatt returen.</p>
<p>Om pakken ikke har blitt hentet p&aring; hentested og sendt tilbake til oss, s&aring; trekker vi et returgebyr p&aring; 199kr.&nbsp;</p>{% endcapture -%}
  77189^^Frakt og returer^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^4^^0^^~~
  {%- capture content %}<div data-pm-slice="1 1 []" data-en-clipboard="true">Nyheten Ingrid fra Porsgrund Porselen,&nbsp;er inspirert av den vakre &Oslash;st-Telemarksbunaden. M&oslash;nstrene er moderniserte&nbsp;fortolkninger av broderier fra de mer enn 150&aring;r gamle bunadsskjortene. Det blir ogs&aring; lansert som strikkeoppskrifter 🧶</div>
<div>&nbsp;</div>
<div>Produkter i serien s&aring; langt:</div>
<ul>
<li><a title="Ingrid Krus" href="https://hyttefeber.no/collections/ingrid-fra-porsgrund-porselen/krus">Ingrid Krus</a></li>
<li><a title="Ingrid Servise" href="https://hyttefeber.no/collections/ingrid-fra-porsgrund-porselen/servise">Ingrid Servise</a></li>
<li>Ingrid Barneservise (*forventes i April)</li>
</ul>
<p>Se hele serien her:&nbsp; <a title="Ingrid fra Porsgrund Porselen" href="https://hyttefeber.no/collections/ingrid-fra-porsgrund-porselen">Ingrid fra Porsgrund Porselen</a></p>{% endcapture -%}
  77964^^Om Ingrid^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|282705395863|||^^^^4^^0^^~~
  {%- capture content %}<p><strong>Kjenner du Alven?</strong><br />Alven symboliserer dr&oslash;mmer,<br />h&aring;p og troen p&aring; &aring; gj&oslash;re det umulige mulig.<br />Deres magi, skj&oslash;nnhet og evne til &aring; beherske<br />avansert h&aring;ndverk gj&oslash;r at naturen sl&aring;r gnister.<br />Alvene gir dr&oslash;mmer n&aelig;ring.<br />Lytter du n&oslash;ye etter, h&oslash;rer du dem kanskje?</p>
<p><strong>Om serviset</strong><br />Serviset Alv er laget av edelt feltspatporselen. Porselenet kjennetegnes ved sin hvithet, vakre glansfulle glasur, gjennomskinnelighet og rene klang. Materialene er rene og naturlige, og fargene er blyfrie. Ved &aring; bruke rene naturmaterialer skaper Wik &amp; Wals&oslash;e produkter av h&oslash;y kvalitet som kan t&aring;le tidens tann og leve i generasjoner. Designstudioet jobber ogs&aring; tett med dyktige h&aring;ndverkere i Europa og Asia som deler deres tro og verdier. &nbsp;</p>
<p><strong>Stell og vedlikehold</strong><br />Alveserviset fra Wik &amp; Wals&oslash;e er ildfaste, t&aring;ler mikrob&oslash;lgeovn og fryser. Det anbefales likevel &aring; unng&aring; &aring; gi produktene store og hurtige temperatursvigninger. Dette gj&oslash;r at de kan krakkelere og sprekke, og dette er en anbefaling for all feltspatporselen.<br />Produktene kan vaskes i oppvaskmaskin, gjerne med glansemiddel for &aring; bevare glansen i glasuren lengst mulig.<br />St&aring;lull, skuremiddel eller lignende b&oslash;r ikke brukes, da disse gj&oslash;r glasuren mattere. Det er ogs&aring; viktig &aring; unng&aring; mekanisk slitasje, dvs. gnissing av gjenstander mot hverandre. Unng&aring; ogs&aring; &aring; skyve tallerkenene opp&aring; hverandre inn i skapet, de b&oslash;r stables varsomt hvis du vil unng&aring; slitasje.</p>
<p><strong>Designstudioet Wik &amp; Wals&oslash;e</strong><br />Wik &amp; Wals&oslash;e debutkolleksjon ble lansert i 2007, og p&aring; kort tid etablerte designstudioet seg som en sterk, tydelig og kvalitetsbevisst stemme innen nordisk design.<br />Linda S. Wals&oslash;e er utdannet designer fra Esmod International og har jobbet med design og produktutvikling siden 1993. I 2006 var hun med &aring; grunnlegge designstudioet Wik &amp; Wals&oslash;e, hvor hun n&aring; er eier, designer og kreativ leder. Designfilosofien har hele veien v&aelig;rt &aring; skape kolleksjoner som skal t&aring;le tidens tann og som skal kunne leve i generasjoner. N&aring;, over 15 &aring;r senere, finnes Wik &amp; Wals&oslash;e produkter i hytter og hjem i b&aring;de Norge og utlandet. Designstudioet har som m&aring;l &aring; utvikle og produsere unike produkter av h&oslash;y kvalitet som skal skape nye minner og ha varig verdi.<br />I Wik &amp; Wals&oslash;e ligger identiteten godt forankret i n&aelig;rheten til naturen. Inspirasjonen er hentet fra Skandinavisk natur og kultur &ndash; en naturlig, glad og uformell livsstil.</p>{% endcapture -%}
  78937^^Om Alv-serien^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Alv||^^^^4^^0^^~~
  {%- capture content %}<p><strong><span class="Y2IQFc" lang="no">Gratulerer med din nye LUMIZ lykt.</span></strong></p>
<p><span class="Y2IQFc" lang="no">Dette skal du huske p&aring; f&oslash;r du bruker lykten:</span></p>
<p><span class="Y2IQFc" lang="no">Har du fjernet plastfliken? </span></p>
<p><span class="Y2IQFc" lang="no">Hvis du har problemer med lykten, pr&oslash;v f&oslash;lgende:</span></p>
<p><span class="Y2IQFc" lang="no">-Sjekk om batteriet er riktig plassert i holderen? </span></p>
<p><span class="Y2IQFc" lang="no">Ved kj&oslash;p vil ikke batterienergien v&aelig;re fulladet. N&aring;r denne energien er oppbrukt, m&aring; batteriet lades ved &aring; henge/sette solcellen i sollys, slik at batteriet kan lades. Etter &aring; ha ladet batteriet kan du teste om LED-lyset tennes ved &aring; legge h&aring;nden p&aring; solcellen.</span></p>
<p>&nbsp;</p>{% endcapture -%}
  96989^^LUMIZ FAQ^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|292549394583|||^^^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->